<div>
    <div class="container-fluid">
        <h2>Add Product</h2>
    </div>
    <section >
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-info">
                    <form action="../admin/add-product" method="POST">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="inputChoose">
                                    <label for="exampleInputName">Tên sản phẩm</label>
                                    <input type="text" name="name" class="form-control" id="exampleInputPassword1" placeholder="Nhập tên sản phẩm" >
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="inputChoose">
                                    <label for="exampleInputName">Tên danh mục</label>
                                    <input type="text" name="category" class="form-control" id="exampleInputPassword1" placeholder="Nhập tên danh mục " >
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="inputChoose">
                                    <label>Giá sản phẩm</label>
                                    <input type="number" name="price" class="form-control" id="exampleInputPassword1" placeholder="price" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Chọn ảnh</label>
                                <div class="inputChoose"   >
                                  <div class="custom-file" >
                                    <input type="file" id="myfile" name="img">
                                  </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Nội dung</label>
                                <textarea id="summernote" name="description"></textarea>
                            </div>
                            <div class="form-group" >
                                    <button  class="btSave">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
