<div class="container" >
    <div class="row">
      <div class="col-sm">
        <h2>Add category</h2>
          <form action="">
            <label for="">Name :</label>
            <input type="text">
            <button style="background:#0dcaf0;">Add</button>
          </form>
      </div>
      <div class="col-sm">
        <h2>List category</h2>
        <table id="example" class="table table-striped table-bordered" style="width:100%; text-align: center;" >
            <thead >
                <tr>
                    <th >STT</th>
                    <th >Tên danh mục</th>
                    <th >Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Đồ ăn</td> 
                    <td>
                        <a class="btn btn-info btn-sm" href="#">
                            <i class="fas fa-pencil-alt"></i>
                                Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                            <i class="fas fa-trash"> </i>
                              Delete
                          </a>
                    </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Đồ uống</td>
                  <td>
                    <a class="btn btn-info btn-sm" href="#">
                      <i class="fas fa-pencil-alt"></i>
                          Edit
                    </a>
                    <a class="btn btn-danger btn-sm" href="#">
                      <i class="fas fa-trash"> </i>
                        Delete
                    </a>
                  </td>
              </tr>
            </tbody>
            
          </table>
      </div>
    </div>
  </div>