<!-- Main content -->
<section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h4 class="card-title">Add category</h4>
            </div>
          <div class="card-body">
            <form action="" method="POST">
                <label for="">Name :</label>
                <input type="text">
                <button  type="button" class="btn btn-info" class="btAdd">Add</button>
              </form>
           </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-secondary">
          <div class="card-header">
            <h4 class="card-title">List Category</h4>
          </div>
          <div class="card-body">
            <table id="example" class="table table-striped table-bordered" >
                <thead class="theadTable">
                    <tr>
                        <th >STT</th>
                        <th >Tên danh mục</th>
                        <th >Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="centerTD">1</td>
                        <td>Đồ ăn</td> 
                        <td class="bt"> 
                            <button type="button" class="btn btn-info" >
                               <i class="fas fa-pencil-alt"></i>
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger" >
                               <i class="fas fa-trash"> </i>
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="centerTD">2</td>
                         <td>Đồ uống</td>
                        <td class="bt"> 
                            <button type="button" class="btn btn-info" >
                                <i class="fas fa-pencil-alt"></i>
                                 Edit
                            </button>
                            <button type="button" class="btn btn-danger" >
                                 <i class="fas fa-trash"> </i>
                                 Delete
                             </button>
                      </td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->