<div>
  <h2>List Product</h2>
  <br>
</div>
<table id="example" class="table table-striped table-bordered" >
  <thead class="theadTable">
    <tr>
      <th style="width: 3%;">STT</th>
      <th style="width: 15%;">Tên sản phẩm</th>
      <th style="width: 18%;">Hình ảnh</th>
      <th style="width: 15%;">Loại sản phẩm</th>
      <th style="width: 30%;">Nội dung</th>
      <th style="width: 20%;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="centerTD">1</td>
      <td>Bún thịt nướng</td>
      <td class="centerTD">
        <img src="https://image-us.eva.vn/upload/2-2020/images/2020-04-07/cach-lam-bun-thit-nuong-don-gian-nhung-cuc-ky-ngon-mieng-1-1586254271-356-width600height400.jpg" alt="" class="imgProduct" >
      </td>
      <td>Đồ ăn</td>
      <td>là bún ăn được nhiều người yêu thích tại một nơi lãng mạn cho no bụng</td>
      <td class="bt"> 
        <button type="button" class="btn btn-info" >
          <i class="fas fa-pencil-alt"></i>
          Edit
        </button>
        <button type="button" class="btn btn-danger" >
          <i class="fas fa-trash"> </i>
          Delete
        </button>
      </td>
    </tr>
    <tr>
      <td class="centerTD">2</td>
      <td>Bún thịt nướng</td>
      <td  class="centerTD">
        <img src="https://image-us.eva.vn/upload/2-2020/images/2020-04-07/cach-lam-bun-thit-nuong-don-gian-nhung-cuc-ky-ngon-mieng-1-1586254271-356-width600height400.jpg" alt=""class="imgProduct" >
      </td>
      <td>Đồ ăn</td>
      <td>là bún ăn được nhiều người yêu thích tại một nơi lãng mạn cho no bụng</td>
      <td class="bt"> 
        <button type="button" class="btn btn-info">
          <i class="fas fa-pencil-alt"></i>
           Edit
        </button>
        <button type="button" class="btn btn-danger"  >
          <i class="fas fa-trash"> </i>
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>